APP_ENV=local
APP_DEBUG=false
APP_AUTO_CREATE_DB=true
APP_URL=http://localhost

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=oficina_estoque
DB_USERNAME=root
# Senha do MySQL (XAMPP/WAMP costumam deixar vazio; MySQL 8 instalado costuma exigir senha)
DB_PASSWORD=
